<div class="container">
    <div class="row">
        <div class="col-md-4 p-3 text-center">
            <h1>Menü</h1>
                <button type="button" 
                        class="btn btn-dark p-3 btn-block" 
                        routerLink="products">
                        Tárgyak
                </button>
                <button type="button" 
                        class="btn btn-dark p-3 btn-block" 
                        routerLink="sets">
                        Szettek
                </button>
                <button type="button" 
                        class="btn btn-dark p-3 btn-block" 
                        routerLink="my-stuff">
                        Mi van nálam
                </button>
        </div>
        <div class="col-md-4 p-3 text-center">
            
            <app-users></app-users>
        </div>
        <div class="col-md-4 p-3 text-center">
        </div>
    </div>
</div>