<h1>Tagok</h1>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="E-mail cím" aria-label="Recipient's username"
    aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button">Felvétel</button>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Név</th>
      <th>Admin</th>
      <th>Törlés</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i" (deleteUser)="deleteUser($event)">
      <th scope="row" class="align-middle">{{ i + 1 }}</th>
      <td class="align-middle">{{ user.firstName }} {{ user.lastName }}</td>
      <td class="align-middle"><input (change)="onToggle(user)" type="checkbox"></td>
      <td class="align-middle"><button class="btn" (click)="onDelete(user)"><i class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>